.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {

    .container {
        width: 95%;
    }

}

.d-none{
    display: none !important;
}