@import "./reset";
@import "./variables";

// ************************************************ Index Html PAGE ************************************************
// Header
header {
  position: sticky;
  top: 0;
  background-color: #fff;
  .example {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    .logo {
      i {
        font-size: 1.5rem;
        color: black;
        margin-right: 3rem;
      }
    }
    nav {
      ul {
        display: flex;
        align-items: center;
        li {
          margin-left: 2rem;
          a {
            font-size: 1.5rem;
            color: black;
            &:hover {
              border-bottom: 1px solid black;
            }
          }
          .cart-link {
            display: flex;
            align-items: center;
            justify-content: center;
            p {
              margin-left: 0.5rem;
            }
          }
        }
        .about-li{
            transition: 0.5s;
            &:hover{
                i{
                    transform: rotate(180deg);
                }
            }
            
        }
      }
    }
    .hamburger-nav{
      position: absolute;
      padding: 2rem;
      background-color: #fff;
      width: 100vw;
      top: 60px;
      left: 0;
      ul{
        flex-direction: column;
        align-items: flex-end;
        li{
          margin-bottom: 1rem;
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .logo {
    i {
      display: inline !important;
    }
  }
  .nav {
    ul {
      li {
        display: none;
      }
      .cart-li {
        display: block;
      }
    }
  }
}
@media screen and (max-width: 425px) {
  html {
    font-size: 12px;
  }
  .logo {
    i {
      display: inline !important;
    }
  }
  .nav {
    ul {
      li {
        display: none;
      }
      .cart-li {
        display: block;
      }
    }
  }
}

// Handmade Section
.handmade {
  background: url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/minattnvs/Rectangle-YZ9P6kWjMnUBNL6W.png")
    no-repeat center;
  background-size: cover;
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  h1 {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-align: center;
  }
  p {
    font-size: 1.5rem;
    margin: 2rem 0;
  }
  a {
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: #000;
    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.9);
    }
  }
}

// Bestseller section

.bestseller {
  padding: 5rem 0;
  .example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .bestseller__head {
      h3 {
        font-weight: 700;
        font-size: 3rem;
        margin-bottom: 5rem;
        color: #4d2c57;
      }
    }
    .items {
      display: flex;
      gap: 1rem;
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        font-size: 1.25rem;
        color: #4d2c57;
        p {
          margin: 1rem 0;
        }
      }
    }
    .bestseller__icon {
      margin-top: 5rem;
      a {
        background-color: #fff;
        padding: 1rem 2rem;
        border-radius: 10px;
        color: #000;
        border: 1px solid #4d2c57;
        transition: 0.5s;
        &:hover {
          background-color: rgba($color: #4d2c57, $alpha: 0.9);
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .items {
    flex-direction: column;
  }
}
// Best seller end

// Home DEkor start
.homedekor {
  background: url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/minattnvs/Untitled-AzGRJwMK6BHxZypJ.png")
    no-repeat center;
  background-size: cover;
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  h1 {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-align: center;
  }
  p {
    font-size: 1.5rem;
    margin: 2rem 0;
  }
  a {
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: #000;
    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.9);
    }
  }
}

// Home DEkor end

// about section start
.about {
  padding: 5rem 0;
  .example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .items {
      display: flex;
      gap: 1rem;
      gap: 1rem;
      .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-self: center;

        font-size: 1.25rem;
        color: #4d2c57;
        p {
          margin: 1rem 0;
        }
        &__img {
          img {
            max-width: 500px;
            width: 100%;
            max-height: 500px;
            height: auto;
          }
        }
        .bestseller__icon {
          margin: 2rem 0;
          a {
            background-color: #fff;
            padding: 1rem 2rem;
            border-radius: 10px;
            color: #000;
            border: 1px solid #4d2c57;
            transition: 0.5s;
            &:hover {
              background-color: rgba($color: #4d2c57, $alpha: 0.9);
              color: #fff;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .items {
    flex-direction: column;
  }
}
// about section end

// Newletter start
.newletter {
  background: url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/minattnvs/Frame-AGBpDkZaG5cRpbaw.png")
    no-repeat center;
  background-size: cover;
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 2rem 0;
  h1 {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-align: center;
  }
  input {
    margin: 2rem 0;
    padding: 0.5rem 1rem;
    border: none;
    background-color: azure;
  }
  a {
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: #000;
    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.9);
    }
  }
}
// Newletter end

// Follow us start
.followus {
  padding: 5rem 0;
  .example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .bestseller__head {
      h3 {
        font-weight: 700;
        font-size: 3rem;
        margin-bottom: 5rem;
        color: #4d2c57;
      }
    }
    .items {
      display: flex;
      gap: 1rem;
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        font-size: 1.25rem;
        color: #4d2c57;
        p {
          margin: 1rem 0;
        }
        &__img {
          img {
            max-width: 300px;
            width: 100%;
            max-height: 300px;
            height: auto;
          }
        }
      }
    }
    .bestseller__icon {
      margin-top: 5rem;
      a {
        font-size: 1.5rem;
        text-decoration: underline;
        border-radius: 10px;
        color: #4d2c57;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .items {
    flex-direction: column;
  }
}
// Follow us end

// Footer Section
footer {
  background-color: #ddd;

  .footer-content {
    max-width: 1200px;
    margin: auto;
    padding: 3rem;

    .footer-up {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 0;

      .factory {
        .factory__name {
          font-size: 1.5rem;
        }
      }

      .up__links {
        a {
          font-size: 1.25rem;
          margin-right: 1rem;
          color: #000;
        }
      }
    }

    .footer-down {
      a {
        color: #000;
        margin-right: 1rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    .footer-content {
      padding: 0;

      .footer-up {
        flex-direction: column;

        .factory {
          margin-bottom: 1.5rem;
        }

        .up__links {
          align-self: flex-end;
          display: flex;
          flex-direction: column;

          a {
            text-decoration: underline;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}

// same content for page
.site-head-img{
  min-height: 40vh;
  width: 100%;
  background: url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/minattnvs/dd-d95eByKQX2CoQJ4L.png")
    no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    h3{
      font-size: 4rem;
      font-weight: 700;
      color: #fff;
    }
}
// Shop section start
.shop{
  background-image: url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/minattnvs/dd-d95eByKQX2CoQJ4L.png");
}
// Shop section end
// about section start
.about{
  background-image: url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=945,fit=crop/minattnvs/Frame-YanWlX24wOIg2vwL.png");
}
// about section end
// contact section start
.contact{
  background-image: url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/minattnvs/kk-AVLnvEyZ8ehlnGNB.png");

}
// contact section end